
html, body {
    margin: 0;
    padding: 0;
    font-size: 10pt;
    font-family: sans-serif;
    min-width: 700px;
}

html.panel_hidden, body.panel_hidden {
    background-position: -290px 0;
}

form {
    margin: 0;
    padding: 0;
}

#vrch {
    height: 90px;
    position: relative;
}

#vrch_riadok1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 600px;
}

#vrch_riadok1 ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#vrch_riadok1 ul li {
    display: inline-block;
}

#vrch_riadok1 ul li+li, #vrch_riadok1_vpravo ul li {
    border-left: 1px solid;
    margin-left: 0.5em;
    padding-left: 0.5em;
}

#vrch_riadok1 .selected {
    font-weight: bold;
}

#vrch_riadok1 .username {
    font-weight: bold;
}

#vrch_riadok1_vlavo {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
}

#vrch_riadok1_vpravo {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
}

#vrch_riadok2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    min-width: 800px;
}

#vrch_riadok2 ul {
    display: block;
    margin: 0;
    padding: 0;
    margin-left: 290px;
    padding-right: 10px;
}

#vrch_riadok2 li {
    display: inline-block;
    margin-right: 2px;
}

#vrch_riadok2 li input {
   margin: 0 0 0 5px;
}

#vrch2 {
    position: absolute;
    left: 0;
    top: 90px;
    width: 100%;
    min-width: 700px;
}

#vrch_riadok2 a {
    text-decoration: none;
}

#rozvrh_taby {
    white-space: pre;
    overflow: auto;
}

#rozvrh_taby a {
    display: inline-block;
    padding: 0.3em 0.5em;
}

#rozvrh_taby a.selected {
    font-weight: bold;
}

#rozvrh_taby a.rozvrh_taby_novy{
    font-style: italic;
}

#vrch2 a:hover,
#vrch2 a:focus,
#vrch2 a:active {
    text-decoration: underline;
}

#rozvrh_akcie {
    text-align: right;
}

#rozvrh_akcie li {
    padding: 0.3em;
}

#rozvrh_akcie li+li {
    margin-left: 0.3em;
}

#vrch_logo {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 10px;
    bottom: 2px;
    font-size: 150%;
    z-index: 100;
}

#vrch_logo a {
    display: block;
    line-height: 64px;
    padding-left: 85px;
    font-weight: normal;
    text-decoration: none;
}

#vrch_logo a:hover {
    text-decoration: underline;
}

#hlavny {
    position: relative;
}

#panel {
    width: 290px;
    position: absolute;
    left: 0;
    top: 90px;
}

.panel_hidden #panel {
    display: none;
}

#panel_in {
    padding: 5px;
}

.panel_cast {
    margin: 0 0 0.75em 0;
}

.panel_cast h2, .panel_cast_no_collapse h2 {
    font-size: 100%;
    background-position: right center;
    background-repeat: no-repeat;
    margin: 0.5em 0;
    padding: 0;
}

.panel_cast h2 a, .panel_cast_no_collapse h2 {
    display: block;
    text-decoration: none;
    padding: 0.3em;
}

.panel_cast h2 a:hover,
.panel_cast h2 a:focus,
.panel_cast h2 a:active {
    text-decoration: underline;
}

.panel_search input[type="search"] {
    width: 100%;
    height: 2em;
    border-radius: 4px;
    padding: 4px;
}



.panel_cast .hint {
    margin: 0.5em 0 0.5em 0;
}

.panel_cast .other_links {
    margin: 0.5em 0 0 0;
}

#panel_schovat {
    width: 32px;
    height: 30px;
    position: absolute;
    top: 90px;
    left: 290px;
}

#panel_schovat.hidden {
    display: none;
}

.panel_hidden #panel_schovat {
    left: 0;
}

#panel_schovat a {
    display: block;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 21px;
}

.panel_cast_obsah {
    padding: 0 2% 0 2%;

    /* slide-down animation: */
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    max-height: 0;
}

.panel_cast.collapsed .panel_cast_obsah {
    display: none;
}

#panel_cast_nastroje {
    padding: 0.3em;
}

#panel_cast_nastroje .panel_cast_obsah ul {
    margin-top: 0;
    margin-left: 0;
    padding-top: 0;
    padding-left: 1.5em;
}

.panel_cast_button {
    padding: 0.65em 0.5em 0 0.5em;
    color: white;
    font-weight: bold;
    background-color: #333;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    border-radius: 4px;
}
/* ****************** Button Icon: ******************* */
.panel_cast_button:after {
    content: url("../images/expand_vertical_more.png");
    float: right;
    margin-left: 5px;
    transform: scale(.8);
}
.panel_cast_button.active:after {
    content: url("../images/expand_vertical_less.png");
    transform: scale(.8);
}
.panel_cast_button.active, .panel_cast_button:hover {
  background-color: #555;
}


/* ******************  Vysledky hladania   ******************* */
ul.vysledky_hladania {
    padding: 0;
    margin: 0.5em 0 0;
    max-height: 400px;
    overflow: auto;
    position: relative;
}

ul.vysledky_hladania li {
    display: block;
    margin: 0;
    padding: 3px;
}

ul.vysledky_hladania li+li {
    margin-top: 0.4em;
}
/* ****************** PREDMETY  ******************* */
.predmet_header {
    display: block;
    padding: 3px;
    position: relative;
}

.predmet_nazov {
    display: block;
    font-weight: bold;
}

.predmet_info {
    display: block;
    font-size: 90%;
    position: relative;
    padding-right: 1em;
}

.predmet_info table {
    width: 100%;
}

.predmet_info table td {
    padding: 0;
}

.predmet_info table td.predmet_kod {
    width: 35%;
}

.predmet_info table td.rozsah {
    width: 35%;
}

.predmet_info table td.odkazy {
    width: 40%;
}

.predmet_check {
    position: absolute;
    z-index: 10;
    bottom: 2px;
    right: 2px;
}


.predmet table.vysledky {
    border-collapse: collapse;
    width: 100%;
}

.predmet table.vysledky th, .predmet_info table th, .pristupnost, .panel_search label {
    display: block;
    position: absolute;
    left: -5000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.predmet table.vysledky tr+tr {
    border-top: 1px solid;
}

.predmet table.vysledky td {
    padding: 1px;
}

.predmet table.vysledky td.last {
    text-align: right;
    padding-right: 2px;
}

#obsah_wrap {
    padding-left: 290px;
}

.panel_hidden #obsah_wrap {
    padding-left: 0;
}

#obsah_in {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 1em;
}

#timetable_editor_command_bar {
    padding-left: 50px;
    margin-bottom: 0.3em;
}

/* ****************** ROZVRH  ******************* */
#rozvrh {
    width: 100%;
}

#rozvrh tr.startTimeHeader {
    border-top: 2px solid;
}

#rozvrh th {
    padding: 0.5em;
    font-weight: bold;
    width: 20%;
    border: 2px solid;
}

#rozvrh .hodina {
    /*text-align: center;*/
    padding: 0.75em;
    border: 2px solid;
    background-color: #D3D5DD;
}

#rozvrh .hodina .miestnost {
    position: absolute;
    top: 0;
    left: 0;
}

#rozvrh .hodina .typ {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}

#rozvrh .hodina .typ abbr {
    text-decoration: none;
    border-bottom-style: none;
    padding: 0 0.5em;
}

#rozvrh .hodina .predmet_wrap {
    padding-top: 4px;
}

#rozvrh .hodina .predmet {
    padding: 3px;
    text-align: center;
}

#rozvrh .hodina .vybrany {
    position: absolute;
    right: 2px;
    bottom: 2px;
}

#rozvrh .hodina .poznamka {
    font-style: italic;
}

.jsactive .jshide {
    display: none;
}

/* ****************** PANEL  ******************* */
#panel .predmet td.lesson-type-cell {
    width: 25px;
}

#panel .predmet td.kde {
    padding: 0 0.25em;
    font-style: italic;
}

#panel .predmet td.kedy {
    padding: 0 0.25em;
}

#panel td.kto {
    width: 80%;
}

.lesson-type {
    display: inline-block;
    width: 23px;
    height: 22px;
    position: relative;
    padding: 0;
    margin: 0;
    border: none;
    vertical-align: middle;
}

.lesson-type-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 22px;
}

.flash_notice {
    padding: 0.4em;
    margin: 0 30px 0.8em;
}

.flash_error {
    margin: 0 30px;
    padding: 0.4em;
    font-weight: bold;
    margin-bottom: 0.8em;
}

.nazov_policka {
    display: inline-block;
    width: 15em;
    text-align: right;
}

abbr {
    cursor: help;
}

h1 {
    font-size: 150%;
    margin: 0;
    margin-top: 0.2em;
    margin-bottom: 0.4em;
    padding: 0;
}

.form_box {
    margin: 0.5em;
    margin-top: 1em;
}

.form_box label {
    display: block;
    font-weight: bold;
}

.form_box_content {
    padding-left: 1em;
}

.fullWidth {
    width: 100%;
}

#obsah_in span.example {
    padding: 0.2em 0.4em;
    font-family: monospace;
    font-weight: bold;
    border: 1px dotted;
    display: inline-block;
}

#obsah_in span.bad.example {
    text-decoration: line-through;
}

#obsah_in table.vysledky_podrobneho_hladania {
    width: 100%;
    border-style: groove;
}

#obsah_in table.aktualne {
    width: 50%;
}

#obsah_in table.aktualne.stlpec0 {
    float: left;
}

#obsah_in table.vysledky_podrobneho_hladania th,
#obsah_in table.aktualne th {
    padding: 0.5em;
    font-weight: normal;
}

#obsah_in table.vysledky_podrobneho_hladania td,
#obsah_in table.aktualne td {
    padding: 0.3em;
}

#obsah_in div.footer {
    clear: both;
}

#obsah_in div.footer .last_update {
    font-weight: bold;
}

.termsofuse li {
    margin: 0.3em auto;
}

#timetable_full_url {
    text-align: right;
    padding-right: 1.5em;
}

.timetableExportOptionsSmall {
    float: left;
}

.timetableVysvetlivkyLink {
    float: right;
}

#rozvrhList {
    margin-top: 1ex;
}

#rozvrhListTogglerContainer {
    margin-top: 1ex;
}

.hidden {
    display: none;
}

#panel_throbber {
    visibility: hidden;
    padding-left: 20px;
}

#panel_throbber.active {
    visibility: visible;
}

#panel_toggle_spacer {
    display: none;
}

.panel_active #panel_toggle_spacer {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
}


ul.quickswitch {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.quickswitch li {
    display: inline-block;
    margin: 0 0.5em;
    padding: 0;
}

ul.quickswitch li a {
    margin: 0;
    padding: 0 1em;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}

#web_header h1 {
    display: inline;
}

#web_header ul.quickswitch li a {
    padding: 0.4ex 0.5em;
}

#welcome {
    margin: 2em;
    font-size: 1pc;
}

/* ****************** Lesson icons  ******************* */
.lesson-type-C .lesson-type-image {
    background: transparent url("../images/ikona-typ-c.png") center center no-repeat;
}

.lesson-type-K .lesson-type-image {
    background: transparent url("../images/ikona-typ-k.png") center center no-repeat;
}


.lesson-type-L .lesson-type-image {
    background: transparent url("../images/ikona-typ-l.png") center center no-repeat;
}


.lesson-type-N .lesson-type-image {
    background: transparent url("../images/ikona-typ-n.png") center center no-repeat;
}


.lesson-type-P .lesson-type-image {
    background: transparent url("../images/ikona-typ-p.png") center center no-repeat;
}

.lesson-type-S .lesson-type-image {
    background: transparent url("../images/ikona-typ-s.png") center center no-repeat;
}


.lesson-type-V .lesson-type-image {
    background: transparent url("../images/ikona-typ-v.png") center center no-repeat;
}

/* ****************** JQUERY-UI  ******************* */
/* source: https://jqueryui.com/autocomplete/#maxheight */
.ui-autocomplete-loading {
    background:url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/smoothness/images/ui-anim_basic_16x16.gif) no-repeat right center
}

.ui-autocomplete {
    max-height: 180px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 100px;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}



/* ****************** NO-ROW-TIMETABLE  ******************* */
/*TODO RENAME CLASS NAMES:*/

#rozvrh {
    display: grid;
    grid-row-gap: 2px;
    width: 100%;
    grid-column-gap: 4px;
    grid-template-rows: 1fr 19fr;
    grid-template-columns: 1fr repeat(5, 5fr);
}
.row1.day-header{
    max-height: 2em;
    text-align: center;
    background-color: yellow;  /* P-Light: https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=039BE5 */
    font-size: 1.25em;
    padding: 0.45em;
    border-radius: 5px;
    font-weight: bold;
    border-bottom: 2px solid;
    color: black;
}
.row2 {
    border: 1px solid;
    border-color: black;
    border-radius: 4px;
}
.times-column {
    display: grid;
    vertical-align: top;
    text-align: right;
    border: none;
}

.start-time {
    font-size: 1.1em;
}
.day-column {
background-image:
        repeating-linear-gradient(to bottom,
            transparent 1px,
            transparent 47px,
            silver 48px);
    background-size: 100% 100%;
    min-height: 420px;      /* IMPORTANT */
    position: relative;
}

.hodina {
    position: absolute;
    border: 3px solid #73AD21;
    border-radius: 6px;
    overflow: hidden;
}


/* ****************** ERRORS  ******************* */
.error {
    text-align: center;
    margin: 10%;
    font-size: 1.25em;
}

.error.image404 {
    min-width: 100px;
    max-width: 220px;
    width: 30%;
}

#welcome {
    font-size: 1.25em;
}