<div id="vrch2">
    <div id="vrch_riadok2">
        {% if not show_welcome %}
            {% if current_user.is_authenticated %}
                <h2 class="pristupnost">Výber aktívneho rozvrhu</h2>
                <ul id="rozvrh_taby">
    {#            Timetable tabs: #}
                    {%- include('timetable/tabs.html') -%}
                </ul>
            {% endif %}
            <h2 class="pristupnost">Akcie aktívneho rozvrhu</h2>
            <ul id="rozvrh_akcie">
{#            Timetable actions: #}
                {%- include('timetable/actions.html') -%}
            </ul>
        {% endif %}
    </div>
</div>