{# Print out all student-groups #}

{% extends "base.html" %}

{% block obsah_in %}
    {{ super() }}
        <p>
            {% for category in student_groups_dict %}
            <a href="#{{ category }}">{{ category }}</a>
            {% endfor %}
        </p>

        {# For each categeroy:#}
        {% for category in student_groups_dict %}
        <h2 id="{{ category }}">{{ category }}</h2>
            <ul>
                {% for group in student_groups_dict[category] -%}
                    <li><a href="{{ url_for('student_groups.show_timetable', group_url_id=group.url_id) }}">{{ group.name }}</a></li>
                {%- endfor %}
            </ul>
        {% endfor %}
{% endblock %}