<li class="predmet">
    <div class="predmet_header">
        {% if show_checkboxes -%}
            {# Subject-checkbox #}
            {#   For each subject we need to find out, if all his lessons were added to the timetable.#}
            {% set ns = namespace() %}
            {% set ns.chked = 'checked' %}
            {% for l in subject.lessons %}
                {% if l not in timetable_lessons %}
                    {% set ns.chked = '' %}
                    {% break %}
                {% endif %}
            {% endfor %}
            <input id="panel_subject_cb_{{ subject.id_ }}" class="predmet_check" type="checkbox"
                   value="{{ subject.id_ }}" {{ ns.chked }} title="Zobraziť predmet" onclick="subject_checkbox_handler(this)">
             <label for="panel_subject_cb_{{ subject.id_ }}" class="predmet_nazov">{{ subject.name }}</label>
        {% endif %}
        <div class="predmet_info">
            <table>
                <thead class="pristupnost">
                    <tr>
                        <th>ECTS kód</th>
                        <th>Rozsah</th>
                        <th>Odkazy</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="predmet_kod">{{ subject.short_code }}</td>
                        <td class="rozsah">{{ subject.rozsah }}</td>
    {#                        TODO infolist URL: use url_for() or a variable instead of hard-coded link:#}
                        <td class="odkazy"><a href="https://sluzby.fmph.uniba.sk/infolist/SK/{{ subject.short_code }}.html">viac info...</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <table class="vysledky">
        <thead>
            <tr>
              <th>Typ</th><th>Kedy</th><th>Kde</th><th>Kto</th>
            </tr>
       </thead>
        <tbody>
            {% for lesson in subject.lessons %}
                <tr>
                <td class="lesson-type-cell"><abbr class="lesson-type lesson-type-{{ lesson.type.code|upper }}" title="{{ lesson.type.name }}">
                  <span class="lesson-type-in">{{ lesson.type.code }}</span><span class="lesson-type-image"></span></abbr>
                </td>
                <td class="kedy">{{ lesson.day_abbreviated }}&nbsp;{{ lesson.start_formatted }}</td>
                <td class="kde">{{ lesson.room.name }}</td>
                <td class="kto">{{ lesson.get_teachers_formatted() }}</td>
                {# Lesson-checkbox #}
                {% if show_checkboxes -%}
                        <td class="last">
                            {% if lesson in timetable_lessons %}
                                {% set chked, aria_label = "checked", "Pridať do" %}
                            {% else %}
                                {% set chked, aria_label = "", "Odobrať z" %}
                            {% endif %}
                            <input type="checkbox" id="panel_lesson_cb_{{ lesson.id_ }}" value="{{ lesson.id_ }}"
                                   name="{{ subject.id_ }}" {{ chked }} aria-label="{{ aria_label }} rozvrhu"
                                   onclick="lesson_checkbox_handler(this, {{ subject.id_ }} )" title="Zobraziť v rozvrhu"/>
                            <label class="pristupnost" for="panel_lesson_cb_{{ lesson.id_ }}">{{ lesson.day_abbreviated }} {{ lesson.start_formatted }} {{ lesson.subject.name }}</label>
                        </td>
                {%- endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</li>