<div id="panel">
    <div id="panel_in">

{#    <div id="panel_throbber">Načítavam...</div>#}

    <div class="panel_cast" id="panel_cast_hodiny">
        <button class="panel_cast_button">Predmety a hodiny</button>
        <div class="panel_cast_obsah">
                <div class="panel_search">
                    <p class="hint">Názov/kód predmetu, učiteľ, miestnosť:</p>
                    <input type="search" name="showLessons" id="showLessons" title="Hľadať hodiny" placeholder="Hľadať..." role="searchbox">
                    <label for="showLessons">Hľadať hodiny</label>
                </div>
            <div id="list_lessons_box"></div>
        </div>
    </div>

    {# TEACHERS #}
    <div class="panel_cast" id="panel_cast_ucitelia">
        <button class="panel_cast_button">Rozvrhy pre učiteľov</button>
        <div class="panel_cast_obsah">
                <div class="panel_search">
                    <p class="hint">Zadajte meno a/alebo priezvisko učiteľa:</p>
                    <input type="search" id="showTeachers" name="showTeachers" title="Hľadať učiteľa." placeholder="Hľadať..." role="searchbox">
                    <label for="showTeachers">Hľadať učiteľov</label>
                </div>
            <div class="other_links">
                <a href="{{ url_for('teachers.list_teachers') }}">Rozvrhy všetkých učiteľov</a>
            </div>
        </div>
    </div>


    {# ROOMS #}
    <div class="panel_cast" id="panel_cast_miestnosti">
        <button class="panel_cast_button">Rozvrhy pre miestnosti</button>
        <div class="panel_cast_obsah">
                <div class="panel_search">
                    <p class="hint">Zadajte názov miestnosti:</p>
                    <input type="search" id="showRooms" name="showRooms" title="Hľadať miestnosť." placeholder="Hľadať...">
                    <label for="showStudentGroups">Hľadať miestnosti</label>
                </div>
            <div class="other_links">
                <a href="{{ url_for('rooms.list_rooms') }}">Rozvrhy všetkých miestností</a>
            </div>
        </div>
    </div>

    {# STUDENT GROUPS #}
    <div class="panel_cast" id="panel_cast_kruzky">
        <button class="panel_cast_button">Rozvrhy pre krúžky</button>
        <div class="panel_cast_obsah">
                <div class="panel_search">
                    <p class="hint">Zadajte názov krúžku:</p>
                    <input type="search" id="showGroups" name="showGroups" title="Hľadať krúžok." placeholder="Hľadať..." >
                    <label for="showStudentGroups">Hľadať krúžky</label>
                </div>
            <div class="other_links">
                <a href="{{ url_for('student_groups.list_student_groups') }}">Rozvrhy všetkých krúžkov</a>
            </div>
        </div>
    </div>


    </div>
</div>