{# <li><a href="/rozvrh/453fyytyyyyyyyyyyyyyyttttttttt">453fyytyyyyyyyyyyyyyyttttttttt</a></li><li><a rel="nofollow" href="/moj/rozvrh/1/nezdielat">Nezdieľať</a></li><!--#}
{# <li id="menuSave"><a rel="nofollow" href="/moj/rozvrh/1/ulozit">Uložiť</a></li><!--#}      {# DG: Nepouzivame session, takze rozvrh sa uklada stale pri kazdej zmene automaticky. #}
<li><input type="button" id="premenovat_rozvrh" value="Premenovať"></li>
<li><a href="javascript:window.print();" id="timetablePrintButton">Tlačiť</a></li>
{# <li id="menuPrintBefore"><a rel="nofollow" href="/moj/rozvrh/1/duplikovat">Duplikovať</a></li>#}
<li><input type="button" id="duplikovat_rozvrh" value="Duplikovať"></li>
<li><a rel="nofollow" href="/moj/rozvrh/1/importovat">Importovať</a></li>
<li><a rel="nofollow" href="/moj/rozvrh/1/exportovat">Exportovať</a></li>
<li><input type="button" id="zmazat_rozvrh" value="Zmazať"></li>