<div id="panel">
    <div id="panel_in">

    <div id="panel_throbber">Načítavam...</div>

{#    <div class="panel_cast" id="panel_cast_hodiny">#}
{#        <h2><a href="#panel_cast_hodiny">Predmety a hodiny</a></h2>#}
{#        <div class="panel_cast_obsah">#}
{##}
{##}
            {#  TODO FORM #}
{#            <form method="post" action="">#}
{#                <div class="panel_search">#}
{#                    <label for="showLessons">Hľadať hodiny</label>#}
{#                    <input type="text" name="showLessons" id="showLessons">#}
{#                    <button type="submit">Hľadaj</button>#}
{##}
{#                    {{ panel_forms['lessons'].hidden_tag() }}#}
{#                    {{ panel_forms['lessons'].show_lessons.label() }}#}
{#                    {{ panel_forms['lessons'].show_lessons() }}#}
{#                    {{ panel_forms['lessons'].submit() }}#}
{#                </div>#}
{#            </form>#}
{##}
{#            (názov/kód predmetu, učiteľ, miestnosť)#}
{#            <div id="list_lessons_box">#}
{##}
{#                <p>Pomocou formuláru vyššie vyhľadajte predmety alebo hodiny</p>#}
{#                </div>#}
{#        </div>#}
{#    </div>#}


    <div class="panel_cast" id="panel_cast_ucitelia">
        <h2><a href="#panel_cast_ucitelia">Rozvrhy pre učiteľov</a></h2>
        <div class="panel_cast_obsah">
            <form method="post" action="">
                <div class="panel_search">
                    {{ panel.teachers_form.hidden_tag() }}
                    {{ panel.teachers_form.show_teachers.label() }}
                    {{ panel.teachers_form.show_teachers() }}
                    {{ panel.teachers_form.submit_teachers() }}

                </div>
            </form>

            (meno a/alebo priezvisko učiteľa)

            <div id="list_teachers_box">
                {% if panel.get_results('teachers') %}
                    <div class="pristupnost">Výsledky hľadania</div>
                    <ul class="vysledky_hladania">
                    {% for teacher in panel.get_results('teachers') %}
                        <li><a href="{{ url_for('teachers.timetable', teacher_slug=teacher.slug) }}">{{ teacher.fullname }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="other_links">
                <a href="{{ url_for('teachers.list_teachers') }}">Rozvrhy všetkých učiteľov</a>
            </div>
        </div>
    </div>


    <div class="panel_cast" id="panel_cast_miestnosti">
        <h2><a href="#panel_cast_miestnosti">Rozvrhy pre miestnosti</a></h2>
        <div class="panel_cast_obsah">

            <form method="post" action="">
                <div class="panel_search">
                    {{ panel.rooms_form.hidden_tag() }}
                    {{ panel.rooms_form.show_rooms.label() }}
                    {{ panel.rooms_form.show_rooms() }}
                    {{ panel.rooms_form.submit_rooms() }}
                </div>
            </form>

            (názov miestnosti)

            <div id="list_rooms_box">
                {% if panel.get_results('rooms') %}
                    <div class="pristupnost">Výsledky hľadania</div>
                    <ul class="vysledky_hladania">
                    {% for room in panel.get_results('rooms') %}
                        <li><a href="{{ url_for('rooms.timetable', room_name=room.name) }}">{{ room.name }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="other_links">
                <a href="{{ url_for('rooms.list_rooms') }}">Rozvrhy všetkých miestností</a>
            </div>
        </div>
    </div>


    <div class="panel_cast" id="panel_cast_kruzky">
        <h2><a href="#panel_cast_kruzky">Rozvrhy pre krúžky</a></h2>
        <div class="panel_cast_obsah">

            <form method="post" action="">
                <div class="panel_search">

                    {{ panel.student_groups_form.hidden_tag() }}
                    {{ panel.student_groups_form.show_student_groups.label() }}
                    {{ panel.student_groups_form.show_student_groups() }}
                    {{ panel.student_groups_form.submit_groups() }}
                </div>
            </form>

            (názov krúžku)

            <div id="list_studentGroups_box">
            {% if panel.get_results('student_groups') %}
                    <div class="pristupnost">Výsledky hľadania</div>
                    <ul class="vysledky_hladania">
                    {% for group in panel.get_results('student_groups') %}
                        <li><a href="{{ url_for('student_groups.timetable', group_name=group.name) }}">{{ group.name }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="other_links">
                <a href="{{ url_for('student_groups.list_student_groups') }}">Rozvrhy všetkých krúžkov</a>
            </div>
        </div>
    </div>



        {# TODO: Nastroje#}
        {#<div class="panel_cast_no_collapse" id="panel_cast_nastroje">#}
        {#    <h2>Nástroje</h2>#}
        {#    <div class="panel_cast_obsah">#}
        {#        <ul>#}
        {#            <li><a href="/2016-2017-zima/volne-miestnosti/parametre-vyhladavania">Vyhľadávanie voľných miestností</a></li>#}
        {#            <li><a href="/2016-2017-zima/hodiny-v-intervaloch/parametre-vyhladavania">Vyhľadávanie hodín podľa času</a></li>#}
        {#            <li><a href="/2016-2017-zima/aktualne">Aktuálne prebiehajúca výučba</a></li>#}
        {#            <li><a href="/2016-2017-zima/aktualne-volne-miestnosti">Aktuálne voľné miestnosti</a></li>#}
        {#        </ul>#}
        {#    </div>#}
        {#</div>#}

    </div>
</div>