{# timetable.html #}
{% extends "base.html" %}

{% block timetable_menu %}
    {% if current_user.is_authenticated %}
        {% include('timetable/timetable_menu.html') %}
    {% endif %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block web_header %}{{ web_header }}{% endblock %}

{% block obsah %}
    {% if infobox %}
        <div id="infobox">
            <h2>Vitajte v systéme Candle! </h2>
            <p>Vyhľadajte rozvrh v ľavom paneli, [TODO sipky ukazuju dolava do panelu]</p>
            <p> alebo sa prihláste a budete si môct vytvárať vlastné rozvrhy. [TODO šípka ukazuje vpravo hore]</p>
        </div>
    {% else %}
        {% include('timetable/timetable_content.html') %}
        {% include('timetable/timetable_list.html') %}
    {% endif %}
{% endblock %}


{% block panel %}
    {% include 'timetable/panel.html'%}
{% endblock %}