<!DOCTYPE html>
<html lang="en"
      class="panel_active"

        {# TODO opravit: <?php if(!$panelText) echo 'panel_hidden'; else echo 'panel_active'; ?"#}
    >
    {###  HEAD ###}
    <head>
        {% include('head.html') %}
    </head>


    {###  BODY ###}
    <body>

        {### VRCH ###}
        <div id="vrch">
            <div id="vrch_logo"><a href="/">Rozvrh</a></div>
        </div>

        {### FIRST_ROW ###}
        {% include('first_row.html') %}

        {### TIMETABLE_MENU ###}
        {% block timetable_menu %}{% endblock %}

        {### HLAVNY ###}
        <div id="hlavny">
            <div id="obsah_wrap">
                <div id="obsah_vrch">
                    <div id="obsah_vrch_lavy">
                        <div id="obsah_in">

                            {% block obsah_in %}
                                <div id="panel_toggle_spacer">  {# TODO Overit v Candle a pripradne upravit #}
                                </div>

                                <div id="web_header">
                                    <h1>{% block web_header %}{% endblock %}</h1>
                                </div>

                                {% block obsah %}{% endblock %}

                                {% block rozvrhList %}{% endblock %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {### PANEL ###}
        {% block panel %}{% endblock %}


    <script src={{ url_for('static', filename='js/timetable_manager.js') }}></script>

    </body>

</html>