<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Rozvrh pre FMFI UK</title>

    {#TODO: aktualizovat na novy favicon: #}
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='images_old_frontend/favicon.ico') }}"
          type="image/x-icon">


{# ZATIAL NEVYUZIVAM - NEVIEM NA CO PRESNE SLUZI #}
{#    <script type="text/javascript">#}
{#        var candleFrontendRelativeUrl = "/2016-2017-zima/";#}
{#        var candleFrontendAbsoluteUrl = "https://candle.fmph.uniba.sk/2016-2017-zima/";#}
{#        var candleFrontendDomain = "candle.fmph.uniba.sk";#}
{#    </script>#}

{#    <link rel="stylesheet" type="text/css" media="screen" href="static/" />#}
    <link rel="stylesheet", typ="text/css" media="screen" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/style.min.css') }}" />

    <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='js/vendor/html5-3.6-respond-1.4.2.min.js') }}"></script>
    <![endif]-->

</head>

<body>
    <div class="main_wraper">

        <div class="sidebar">
            {# TODO #}
        </div>

        <div class="content">
            <div class="content_header">
                <div class="content__header_name">
                    <h1>{% block content__header_name %}{% endblock %}</h1>
                </div>
            </div>
                {% block content__timetable %}{% endblock %}

                {% block content__timetable_list %}{% endblock %}
        </div>
    </div>


{#    DG: TODO Musi to byt tu?:#}
    <script src="{{ url_for('static', filename='js/vendor/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/sticky-kit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>