<!DOCTYPE html>
<html lang="en">
{# TODO opravit: <html class="<?php if(!$panelText) echo 'panel_hidden'; else echo 'panel_active'; ?>">#}


<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Rozvrh pre FMFI UK</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">

{# ZATIAL NEVYUZIVAM - NEVIEM NA CO PRESNE SLUZI #}
{#    <script type="text/javascript">#}
{#        var candleFrontendRelativeUrl = "/2016-2017-zima/";#}
{#        var candleFrontendAbsoluteUrl = "https://candle.fmph.uniba.sk/2016-2017-zima/";#}
{#        var candleFrontendDomain = "candle.fmph.uniba.sk";#}
{#    </script>#}

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/dark.css" title="Tmavé farby" />
    <link rel="alternate stylesheet" type="text/css" media="screen" href="/static/css/light.css" title="Svetlé farby" />

    <script type="text/javascript" src="/static/js/mootools-1.2.4-core.js"></script>
    <script type="text/javascript" src="/static/js/element.js"></script>
    <script type="text/javascript" src="/static/js/layout.js"></script>
    <script type="text/javascript" src="/static/js/timetable_editor.js"></script>
    <script type="text/javascript" src="/static/js/timetable.js"></script>
    <script type="text/javascript" src="/static/js/search.js"></script>
    <script type="text/javascript" src="/static/js/styles.js"></script>

</head>

<body>
    <div id="vrch_logo">
        <a href="/">Rozvrh</a>
    </div>

    {% block hlavny %}
    <div id="hlavny">
        <div id="obsah_wrap">
            <div id="obsah_vrch">
                <div id="obsah_vrch_lavy">
                    <div id="obsah_in">
                        {% block obsah_in %}
                            <div id="panel_toggle_spacer">
                            </div>

                            <div id="web_header">
                                <h1>{% block web_header %}{% endblock %}</h1>
                            </div>

                            {% block rozvrh %}{% endblock %}

                            {% block rozvrhList %}{% endblock %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block panel %}{% endblock %}

</body>

</html>