<meta charset="UTF-8">
<meta name="csrf-token" content="{{ csrf_token() }}">       {# https://stackoverflow.com/questions/31888316/how-to-use-flask-wtforms-csrf-protection-with-ajax #}

<script type=text/javascript>       {# https://flask.palletsprojects.com/en/1.1.x/patterns/jquery/#where-is-my-site #}
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<title>{% include('title.html') %}</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

{# CSS #}
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/dark.css" title="Tmavé farby" />
<link rel="alternate stylesheet" type="text/css" media="screen" href="/static/css/light.css" title="Svetlé farby" />

{# CSS PRE JQUERY-UI: TODO treba?  #}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


{# JQUERY #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
