<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Miestnosti</title>
</head>
<body>

    <div id="obsah_in">
    <div id="panel_toggle_spacer"></div>
        <div id="web_header">
        <h1>Rozvrhy miestností</h1>
    </div>

    <p>
        {% for room_prefix in rooms_dict %}
        <a href="#{{ room_prefix }}">{{ room_prefix }}</a>
        {% endfor %}
    </p>

{# Kategorie miestnosti: #}
        {% for room_prefix in rooms_dict %}
        <h2 id="{{ room_prefix }}">{{ room_prefix }}</h2>

            <ul>
                {% for room_suffix in rooms_dict[room_prefix] %}
                <li><a href="/2016-2017-zima/miestnosti/{{ room_suffix }}">{{ room_suffix }}</a></li>
                {%  endfor %}
            </ul>

        {% endfor %}


    </div>

</body>
</html>