{# base_timetable.html #}
{# parent-template pre vypisanie rozvrhu #}
{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block web_header %}{{ web_header }}{% endblock %}

    {% block rozvrh %}
        <table id="rozvrh">
            <tbody>
            <tr>
                <th class="zaciatok"><span class="pristupnost">Začiatok</span></th>
                <th>Pondelok</th><th>Utorok</th><th>Streda</th><th>Štvrtok</th><th>Piatok</th></tr>

{#                TODO: #}
{#                {% set ns = namespace() %}#}
{##}
{#                {% set ns.mintime = 490 %}#}
{#                {% set ns.maxtime = 1190 %}#}




            </tbody>
        </table>

    {% endblock %}


    {% block rozvrhList %}
        <table id="rozvrhList" class="vysledky_podrobneho_hladania">
        <tbody>
        <tr>
            <th>Deň</th>
            <th>Od</th>
            <th>Do</th>
            <th>Miestnosť</th>
            <th>Typ</th>
            <th>Kód</th>
            <th>Predmet</th>
            <th>Vyučujúci</th>
            <th>Poznámka</th>
        </tr>

        {% for lesson in lessons_list %}
            <tr>
                <td>{{  lesson.get_day_abbr() }}</td>
                <td>{{  lesson.get_start() }}</td>
                <td>{{  lesson.get_end() }}</td>
                <td><a href="{{ url_for('rooms.timetable_room', room_name=lesson.room.name) }}">{{ lesson.room.name }}</a></td>
                <td>{{ lesson.type }} </td>
                <td>{{ lesson.subject.short_code }}</td>
                <td>
                    {% if lesson.subject.short_code %}
                        <a href="https://sluzby.fmph.uniba.sk/infolist/SK/{{ lesson.subject.short_code }}.html">{{ lesson.subject.name }}</a>
                    {% else %}
                           {{ lesson.subject.name }}
                    {% endif %}
                </td>
                <td>
                    {%  for teacher in lesson.teachers.all() -%}
                        {% if teacher.slug %}
                            <a href="{{ url_for('teachers.timetable_teacher', teacher_slug=teacher.slug) }}">{{ teacher.get_short_name() }}</a>
                            {%- if not loop.last -%}
                                {{ ', ' }}
                            {%- endif %}
                        {% endif %}
                    {%- endfor %}
                </td>
                {% if lesson.note %}
                    <td>{{ lesson.note }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endblock %}