{# <li><a href="/rozvrh/453fyytyyyyyyyyyyyyyyttttttttt">453fyytyyyyyyyyyyyyyyttttttttt</a></li><li><a rel="nofollow" href="/moj/rozvrh/1/nezdielat">Nezdieľať</a></li><!--#}
<li><button class="btn" id="premenovat_rozvrh"><i class="fa fa-pencil" aria-hidden="true"></i> Premenovať</button></li>
<li><a href="javascript:window.print();" id="timetablePrintButton">Tlačiť</a></li>
<li><button class="btn" id="duplikovat_rozvrh"><i class="fa fa-files-o" aria-hidden="true"></i> Duplikovať</button></li>
<li><a rel="nofollow" href="/moj/rozvrh/1/importovat">Importovať</a></li>
<li><a rel="nofollow" href="/moj/rozvrh/1/exportovat">Exportovať</a></li>
<li><button class="btn" id="zmazat_rozvrh"><i class="fa fa-trash-o" aria-hidden="true"></i> Zmazať</button></li>
