<tbody>
<tr>
    <th>Deň</th>
    <th>Od</th>
    <th>Do</th>
    <th>Miestnosť</th>
    <th>Typ</th>
    <th>Kód</th>
    <th>Predmet</th>
    <th>Vyučujúci</th>
    <th>Poznámka</th>
</tr>

{% for lesson in timetable.get_lessons() %}
    <tr>
        <td>{{  lesson.day_abbreviated }}</td>
        <td>{{  lesson.start_formatted }}</td>
        <td>{{  lesson.end_formatted }}</td>
        <td><a href="{{ url_for('rooms.show_timetable', room_url_id=lesson.room.name) }}">{{ lesson.room.name }}</a></td>
        <td>{{ lesson.type }} </td>
        <td>{{ lesson.subject.short_code }}</td>
        <td>
            {% if lesson.subject.short_code %}
                <a href="{{ timetable.get_infolist_url(lesson.subject.short_code) }}.html">{{ lesson.subject.name }}</a>
            {% else %}
                   {{ lesson.subject.name }}
            {% endif %}
        </td>
        <td>
            {%  for teacher in lesson.teachers -%}
                {% if teacher.slug %}
                    <a href="{{ url_for('teachers.show_timetable', teacher_slug=teacher.slug) }}">{{ teacher.short_name }}</a>
                    {%- if not loop.last -%}
                        {{ ', ' }}
                    {%- endif %}
                {% endif %}
            {%- endfor %}
        </td>
        {% if lesson.note %}
            <td>{{ lesson.note }}</td>
        {% else %}
            <td></td>
        {% endif %}
    </tr>
{% endfor %}
</tbody>
