{######################  MACROs #####################}
{% macro print_lesson_type(lesson) -%}
    {{ "lesson-type-" + lesson.type.code| upper()}}
{%- endmacro %}

{#TODO We will use this macro later, when we will no more use 1:1 testing with old Candle.#}
{#{% macro print_lesson_title(lesson) -%}#}
{#    {{ lesson.room.name }}, {{ lesson.get_day_abbr() }} {{ lesson.get_start() }}-{{ lesson.get_end() }}#}
{#    {%- if lesson.subject.short_code -%}#}
{#    {{", " + lesson.subject.short_code }}#}
{#    {%- endif -%}#}
{#    {%- if lesson.teachers -%}#}
{#        {{ ":" }}#}
{#        {% for teacher in lesson.teachers -%}#}
{#            {{ teacher.short_name }}#}
{#            {%- if not loop.last -%}#}
{#                {{ ', ' }}#}
{#            {%- endif %}#}
{#        {%- endfor %}#}
{#    {%- endif -%}#}
{#{%- endmacro %}#}

{% macro print_lesson_title(lesson) -%}
    {{ lesson.room.name }}, {{ lesson.day_abbreviated }} {{ lesson.start_formatted }}-{{ lesson.end_formatted }}, {{ lesson.subject.short_code }}:
    {% for teacher in lesson.teachers -%}
        {{ teacher.short_name }}
        {%- if not loop.last -%}
            {{ ', ' }}
        {%- endif %}
    {%- endfor %}
{%- endmacro %}
{##################### (end of) MACROs #####################}


<div class="hodina {{ print_lesson_type(placed_lesson.lesson) }}" style="{{ placed_lesson.get_css_style }}" title="{{ print_lesson_title(placed_lesson.lesson) }}">
    <div class="wrap">
        <div class="predmet_wrap">
            <div class="predmet">{{ placed_lesson.lesson.subject.name }}</div>
        </div>
        <div class="hodina_info">
            <div class="miestnost">
                <a href="{{ url_for('room.show_timetable', room_url_id=placed_lesson.lesson.room.name) }}">{{ placed_lesson.lesson.room.name }}</a>
            </div>
            <div class="typ">
                <abbr title="{{ placed_lesson.lesson.type.name }}">{{ placed_lesson.lesson.type.code| upper()}}</abbr>
            </div>
            <div class="infolist">
                <a href="{{ timetable.get_infolist_url(placed_lesson.lesson.subject.short_code) }}" title="Prejsť na informačný list."><i class="fa fa-info-circle" aria-hidden="true"></i></a>
            </div>
        </div>

    </div>
</div>