{############# MACROs #############}
{% macro print_empty_cell(list) -%}
    <td class="{{ list| join(' ') }}"></td>
{%- endmacro %}


{% macro print_lesson(list, rowspan, title) -%}
    <td class="{{ list| join(' ') }}" rowspan="{{ rowspan }}"
{%- endmacro %}


{% macro print_day_headers() -%}
    {# Vypise hlavicku tabulky - dni v tyzdni - s pozadovanymi sirkami stlpcov. #}
    {% for day in timetable.get_days() -%}
        <div class="row1">{{ day }}</div>
    {%- endfor %}
{%- endmacro %}

{% macro print_lesson_title(lesson) -%}
    title="
    {{ lesson.room.name }}, {{ lesson.get_day_abbr() }} {{ lesson.get_start() }}-{{ lesson.get_end() }}, {{ lesson.subject.short_code }}:
    {% for teacher in lesson.teachers -%}
        {{ teacher.short_name }}
        {%- if not loop.last -%}
            {{ ', ' }}
        {%- endif %}
    {%- endfor %}
    ">
{%- endmacro %}

{#{% macro test_variable(variable) -%}#}
{#    {% if variable is none %}#}
{#    --- VARIABLE {{ variable }} IS NONE!!! ---#}
{#    {% endif %}#}
{#{%- endmacro %}#}

{############# (end of) MACROs #############}



{% set ns = namespace() %}
{% set ns.layout = timetable.get_layout() %}

<div id="rozvrh">
    {# ##################### TODO nazov row1 by som zmenil na 'HEADERS'#}
    <div class="row1" id="timetable-corner">TIME</div>
    {{ print_day_headers() }}
    <div class="row2 times-column">
        {# Pre kazdy cas z pola starting_times: #}
        {%- for time in timetable.get_starting_times() -%}
            <div class="start-time">{{ time }}</div>
        {%- endfor -%}
    </div>
    {#   TODO columns: #}
    {#Pre kazdy den:#}
    {% for ordered_dict in timetable.get_layout() -%}
        <div class="row2 day-column">

        </div>
    {%- endfor %}
{#        #  Vnutro bunky: #}
{#        {% include "timetable/timetable_cell.html" %}#}

</div>