{# Vykresli vnutro bunky v rozvrhu #}
{% set ns.placed_lesson = ordered_dict[time] %}
{% set ns.lesson = ns.placed_lesson.lesson %}
<div class="lesson {{ print_lesson_type(ns.lesson) }}" style="{{ ns.placed_lesson.get_style() }}" title="{{ print_lesson_title(ns.lesson) }}">
{#    TODO pridat title#}
    <div class="wrap">
        <div class="predmet_wrap">
            <div class="predmet">
                <a class="subjectName" href="{{ timetable.get_infolist_url(ns.lesson.subject.short_code) }}">{{ ns.lesson.subject.name }}</a>
            </div>
        </div>
        <div class="hodina_info">
            <div class="miestnost">
                <a href="{{ url_for('rooms.show_timetable', room_name=ns.lesson.room.name) }}">{{ ns.lesson.room.name }}</a>
            </div>
            <div class="typ">
                <abbr title="{{ ns.lesson.type.name }}">{{ ns.lesson.type.code| upper()}}</abbr>
            </div>
        </div>
    </div>
</div>