<div id="panel">
    <div id="panel_in">

{#    <div id="panel_throbber">Načítavam...</div>#}

    <div class="panel_cast" id="panel_cast_hodiny">
        <button class="panel_cast_button"><i class="fa fa-book" aria-hidden="true"></i>  Predmety a hodiny</button>
        <div class="panel_cast_obsah">
            {% include('search/subject_search.html') %}
        </div>
    </div>

    {# TEACHERS #}
    <div class="panel_cast" id="panel_cast_ucitelia">
        <button class="panel_cast_button"><i class="fa fa-user-circle-o" aria-hidden="true"></i>  Učitelia</button>
        <div class="panel_cast_obsah">
            {% include('search/teacher_search.html') %}
            <div class="other_links">
                <a href="{{ url_for('teacher.list_teachers') }}">Rozvrhy všetkých učiteľov</a>
            </div>
        </div>
    </div>


    {# ROOMS #}
    <div class="panel_cast" id="panel_cast_miestnosti">
        <button class="panel_cast_button"><i class="fa fa-institution" aria-hidden="true"></i>
  Miestnosti</button>
        <div class="panel_cast_obsah">
                {% include('search/room_search.html') %}
            <div class="other_links">
                <a href="{{ url_for('room.list_rooms') }}">Rozvrhy všetkých miestností</a>
            </div>
        </div>
    </div>

    {# STUDENT GROUPS #}
    <div class="panel_cast" id="panel_cast_kruzky">
        <button class="panel_cast_button"><i class="fa fa-users" aria-hidden="true"></i>
  Krúžky</button>
        <div class="panel_cast_obsah">
            {% include('search/group_search.html') %}
            <div class="other_links">
                <a href="{{ url_for('student_group.list_student_groups') }}">Rozvrhy všetkých krúžkov</a>
            </div>
        </div>
    </div>
    </div>
</div>