{# Print out all rooms #}

{% extends "base.html" %}

{% block obsah_in %}
    {{ super() }}
        <p>
            {% for room_prefix in rooms_dict %}
            <a href="#{{ room_prefix }}">{{ room_prefix }}</a>
            {% endfor %}
        </p>

        {# For each categeroy:#}
        {% for room_prefix in rooms_dict %}
        <h2 id="{{ room_prefix }}">{{ room_prefix }}</h2>
            <ul>
                {% for room in rooms_dict[room_prefix] -%}
                    <li><a href="{{ url_for('rooms.show_timetable', room_url_id=room.url_id) }}">{{ room.name }}</a></li>
                {%- endfor %}
            </ul>
        {% endfor %}
{% endblock %}