{# Vypise vsetky miestnosti #}

{% extends "base.html" %}

{% block web_header %}Rozvrhy miestností{% endblock %}
{% block obsah_in %}
    {{ super() }}
        <p>
            {% for room_prefix in rooms_dict %}
            <a href="#{{ room_prefix }}">{{ room_prefix }}</a>
            {% endfor %}
        </p>

    {# Kategorie miestnosti: #}
        {% for room_prefix in rooms_dict %}
        <h2 id="{{ room_prefix }}">{{ room_prefix }}</h2>
            <ul>
                {% for room in rooms_dict[room_prefix] %}
                <li><a href="{{ url_for('rooms.timetable', room_name = room) }}">{{ room }}</a></li>
                {%  endfor %}
            </ul>
        {% endfor %}
{% endblock %}