<!DOCTYPE html>
<html lang="en"
      class="panel_active"

        {# TODO opravit: <?php if(!$panelText) echo 'panel_hidden'; else echo 'panel_active'; ?"#}>
    <head>
        {% include('head.html') %}
    </head>


    <body>
        <div id="vrch">
            <div id="vrch_logo"><a href="/">Rozvrh</a></div>
        </div>

        {% include('first_row.html') %}

        {% block timetable_menu %}{% endblock %}

        <div id="hlavny">
            <div id="obsah_wrap">
                <div id="obsah_vrch">
                    <div id="obsah_vrch_lavy">
                        <div id="obsah_in">

                            {% block obsah_in %}
                                <div id="panel_toggle_spacer">  {# TODO Overit v Candle a pripradne upravit #}
                                </div>

                                <div id="web_header">
                                    <h1>{% block web_header %}{% endblock %}</h1>
                                </div>

                                {% block obsah %}{% endblock %}

                                {% block rozvrhList %}{% endblock %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block panel %}{% endblock %}

        {% block script %}

            {# JQUERY #}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

            <script src={{ url_for('static', filename='js/csrf_header.js') }}></script>

        {% endblock %}
    </body>
</html>