<div id="vrch_riadok1">
    <div id="vrch_riadok1_vpravo">
        <h2 class="pristupnost">Menu používateľa</h2>
        {% if current_user.is_authenticated %}
            <span class="username">{{ current_user.login }}</span>
        {% else %}
            <span class="username">anonymný návštevník</span>
        {% endif %}
    <ul>
     <li>
         {% if current_user.is_authenticated %}
             <a rel="nofollow" href="{{ url_for('auth.logout') }}">Odhlásiť</a></li>
         {% else %}
             <a href="{{ url_for('auth.login') }}">Prihlásiť</a></li>
         {% endif %}


{#        <li><a href="#">Zmeniť farby</a></li>#}
    </ul>
    </div>
    <div id="vrch_riadok1_vlavo">
        <h2 class="pristupnost">Linky</h2>
        <ul>
            <li><a class="selected" href="{{ url_for('timetable.home') }}">Rozvrh</a></li>
{#            <li><a href="https://github.com/fmfi-svt/candle">Zoznam chýb</a></li>#}
{#            <li><a href="https://github.com/fmfi-svt/candle/wiki">Dokumentácia</a></li>#}
{#            <li><a href="https://github.com/fmfi-svt/candle/wiki/FAQ">FAQ</a></li>#}
            <li><a href="http://groups.google.com/group/candle-users">Mailing list</a></li>
        </ul>
    </div>
</div>
