<meta charset="UTF-8">
<meta name="csrf-token" content="{{ csrf_token() }}">       {# https://stackoverflow.com/questions/31888316/how-to-use-flask-wtforms-csrf-protection-with-ajax #}

<script type=text/javascript>       {# https://flask.palletsprojects.com/en/1.1.x/patterns/jquery/#where-is-my-site #}
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<title>{% include('title.html') %}</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

{# Candle CSS #}
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/dark.css" title="Tmavé farby" />
<link rel="alternate stylesheet" type="text/css" media="screen" href="/static/css/light.css" title="Svetlé farby" />

{# CSS for JQUERY-UI #}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{# Material Design Icons #}
{#<link rel="stylesheet" href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">#}

{# Font-awesome #}
<script src="https://use.fontawesome.com/8a22e4ae31.js"></script>